@import url(https://fonts.googleapis.com/css?family=Abel);
p {
  font-family: 'Abel', sans-serif;
  font-weight: normal; }

.error, .success {
  color: black;
  width: 304px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  border-radius: 10px; }

.error {
  background-color: rgba(255, 0, 0, 0.35); }

.success {
  background-color: rgba(0, 128, 0, 0.35); }
